
@{
    ViewBag.Title = "Inicio";
}

<nav class="navbar navbar-light bg-light justify-content-center d-flex">
        <div class="container-fluid">
            <a class="navbar-brand">Bienvenido</a>
        </div>
    </nav>

    <div class="container-fluid px-0 h-100">
            <br>
            <br>

        <div class="container mx-auto w-75 h-100 align-items-center d-block">
            <div class="row h-50 d-flex align-content-center">
                <div class="col home_pic">
                    <div class="h-100 text-center d-flex justify-content-center h-100 text-center">
                        <a href="/Customers/Index">
                            <img src="~/Content/images/clients.png" height="85%" height="85%" alt="">
                            <p>Clientes</p>
                        </a>
                    </div>
                </div>
                <div class="col home_pic mx-auto">
                    <div class="h-100 text-center d-flex justify-content-center">
                        <a href="/Suppliers/Index">
                            <img src="~/Content/images/entrega64.png" height="85%" alt="">
                            <p>Suplidores</p>
                        </a>
                    </div>
                </div>
                <div class="col home_pic mx-auto">
                    <div class="h-100 text-center d-flex justify-content-center">
                        <a href="/Products/Index">
                            <img src="~/Content/images/cajas.png" height="85%" alt="">
                            <p>Productos</p>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row h-50 d-flex align-content-center">
                <div class="col home_pic">
                    <div class="h-100 text-center d-flex justify-content-center">
                        <a href="/Stock/Index">
                            <img src="~/Content/images/pago-en-efectivo.png" height="85%" alt="">
                            <p>Stock</p>
                        </a>
                    </div>
                </div>
                <div class="col home_pic">
                    <div class="h-100 text-center d-flex justify-content-center">
                        <a href="/StockEntry/Index">
                            <img src="~/Content/images/inventario64.png" height="85%" alt="">
                            <p>Entradas</p>
                        </a>
                    </div>
                </div>
                <div class="col home_pic">
                    <div class="h-100 text-center d-flex justify-content-center">
                        <a href="/Sales/Index">
                            <img src="~/Content/images/Compras64.png" height="85%" alt="">
                            <p>Compras</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light d-block justify-content-center position-fixed bottom-0
                    w-100 px-3 py-3">

        <div class="container w-75 align d-flex justify-content-center text-center fs-6">
            <address>
            Calle luz consuelo sur, km 11 Av. Independencia, D.N., Rep. Dom.
            <br>
            Willysjose2026@gmail.com
            <br>
            Tel.:(809)-977-2309
            <br>
            &copy; Copyright 2021
        </address>    
        </div>
    </footer>
